

.top-page-design {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-default);
}

.triangle {
    width: 100%;
    height: 25px;
    background: linear-gradient(to right, #066caa 0%, #04849d 20%, #03a08d 100%);
    clip-path: polygon(0 0, 0% 100%, 110% 0);
    position: absolute;
    z-index: 1;
}
.triangle-2 {
    width: 100%;
    height: 25px;
    background-color: var(--brand-secondry-color);
    clip-path: polygon(0 0, 100% 100%, 120% 0);
    z-index: 0;
}

.welcome-title {
    padding: 0 16px 16px 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-default);
}

.welcome-title h2 {
    color: var(--brand-secondry-color);
}

.welcome-title p {
    color: var(--body-text-var);
    font-size: calc(1.1 * var(--sm));
    text-align: left;

}


/* Small tablets and devices between 481 and 768px wide styles */
@media screen and (min-width: 425px) and (max-width: 768px) {

    .triangle {
        height: 30px;
    }
    .triangle-2 {
        height: 30px;
    }
    .welcome-title {
        align-items: center;
        margin-top: -5px;
    }
}


/* Laptop and devices between 769px and 1200px wide styles */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    .triangle {
        height: 40px;
    }
    .triangle-2 {
        height: 40px;
    }

    .welcome-title {
        align-items: center;
        margin-top: -5px;
    }
    .welcome-title p{
        align-items: center;
        padding-left: 150px;
    }

}

/* Desktop and devices wider than 1200px styles */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .triangle {
        height: 40px;
    }
    .triangle-2 {
        height: 40px;
    }

    .welcome-title {
        align-items: center;
    }

    .welcome-title p {
        padding-left: 160px;
    }
}



/* Extra Large Screens */
@media screen and (min-width: 1201px)   {

    .triangle {
        height: 40px;
    }
    .triangle-2 {
        height: 40px;
    }

    .welcome-title {
        align-items: center;
        margin-top: -1px;
    }

    .welcome-title h2 {
        font-size: 25px;
    }

    .welcome-title p {
        padding-left: 240px;
        font-size: var(--lg);
    }
}