

label{
    font-size: var(--sm);
    color: var(--body-text-var);
    padding: 5px 0 0 15px;
    background-color: var(--background-default);
    white-space: nowrap;
    border-left: none;
    height: 50%;
}

select{
    font-size: calc(.9 * var(--md));
    color: var(--body-text-var);
    border: none;
    background-color: var(--background-default);
    height: 50%;
    width: 80px;
    padding-left: 5px;
    padding-bottom: 5px;
}

/*Search Section Styles*/
.search-box form {
    max-width: 1400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 16px 0 16px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
    background-color: var(--background-default);
    border-radius: 0.5rem;
}
.searchInput {
    display: none;
}

.search-box button {
    height: 40px;
    max-width: 40px;
    border: none;
    flex-grow: 1;
    border-radius: 0.5rem;
}

.search-box input {
    min-width: 60vw;
    height: 40px;
    border: none;
    background-color: var(--background-default);
    flex-grow: 1;
    border-radius: 0.5rem;
}

.search-box input::placeholder {
    color: var(--body-text-var);
}

.search-dropdown-list {
    flex:1;
    display: flex;
    flex-direction: column;
    height: 40px;
    border-top: 1px solid var(--lines-color-var);
}

.search-dropdown-list:first-of-type {
    border-right: 1px solid var(--lines-color-var);
}

.search-dropdown-list select {
    border-radius: 0 0 0 .5rem;
}
.search-dropdown-list:last-child select {
    border-radius: 0 0 .5rem 0;
}


/* Small tablets and devices between 481 and 768px wide styles */
@media screen and (min-width: 425px) and (max-width: 768px) {

    .search-box input {
        min-width: 310px;
    }
    .search-dropdown-list {
        border-top: none;
    }

    .search-results {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*Custom screen code for styling search box section*/
@media screen and (min-width: 492px) and (max-width: 561px) {
    .search-box input {
        min-width: 380px;
    }
}

/*Custom screen code for styling search box section*/
@media screen and (min-width: 562px) {
    .search-dropdown-list select {
        border-radius: 0 ;
        border: none;
    }
    .search-dropdown-list label {
        border: none;
    }
    .search-dropdown-list:last-child select {
        border-radius: 0 0 .5rem 0;
    }
    .search-dropdown-list:last-child label {
        border-radius: 0 .5rem 0 0 ;
    }
}

/* Laptop and devices between 769px and 1200px wide styles */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    .search-box input {
        flex: 15;
    }
    .search-dropdown-list {
        border-top: none;
    }

}

/* Desktop and devices wider than 1200px styles */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .search-dropdown-list {
        border-top: none;
    }

}

/* Extra Large Screens */
@media screen and (min-width: 1201px)    {

    .search-box input {
        width: 1100px;
        min-width: 0;
    }

    .search-dropdown-list {
        border-top: none;
    }

}
