
.page-container {
    display: flex;
    justify-content: center;
    min-height: 80vh;
    background-color:  var(--background-body)
}

.vertical-space {
    height: 20px;
}

.number-of-results {
    margin: 0 0 16px 16px;
    padding-left: 20px;
    color: var(--body-text-var);
    align-self: flex-start;
}

